.formContainer{
    width: 50vw;
    background-color: white;
    border: 1px solid #7c7c7c;
    padding: 20px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.subBtn{
    width: 100%;
    background-color:rgba(128, 0, 128, 0.322);
    color: purple;
    font-weight: bold;
}